.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 400;
  font-size: 6vh;
  margin-top: 7vh;
  margin-left: 10vw;
}

.headerImg {
  height: 12vh;
  margin-right: 4vh;
  border-radius: 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  font-size: 2.5vh;
  padding-top: 6vh;
}

.home {
  margin-right: 5vw;
  color: white;
  text-decoration: none;
}

.about {
  margin-right: 5vw;
  color: white;
  text-decoration: none;
}

.project {
  margin-right: 5vw;
  color: white;
  text-decoration: none;
}

.contact {
  margin-right: 5vw;
  color: white;
  text-decoration: none;
}
